body, html{
     height:100%;
    width: 100%;
    background: beige;
}
/* style for main block */
.mainbox{
    
    width: 750px;
    height: 320px;
    box-sizing: border-box;
    background-color: blanchedalmond;
    margin-top: 10px;
}
/* first line style  */

.numbers{
    display:flex;
    border: 2px solid lightcyan;
    margin-top:
}
/* main style for every elemts inside */
.headerbox{
     flex: 1;
     border: 1px solid darkcyan;
     padding: 15px;
     margin:0px 2px;
     
     

}
.letters{
    display: flex;
    border: 2px solid lawngreen;
}

/* second line style  */
.letters2{
    display: flex;
    border: 2px solid lightcoral;
}
/* 3 line style  */
.letters3{
    display: flex;
    border: 2px solid lightpink;
}
/* 5 line style  */
.symbols{
    display: flex;
    border: 2px solid lightseagreen;
}

.space{
    margin-top: 10px;
}

/* positions for severad digits in the items */

.relative{
    position: relative;
    text-align: center;
    
}
.absolute{
    position: absolute;
    top: 1px;
    left: 1px;
    width: 1px;
    height: 1px;
}